################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pnl/snapshots-previews
/snapshots-previews/R_Kirubakaran
